---

BasedOnStyle:  Chromium

TabWidth: 2
UseTab: Always
ContinuationIndentWidth: 2

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

ColumnLimit: 130

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Allman
  
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language:        Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: false

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterRequiresInClause: true
  
SpacesInContainerLiterals: false
Standard:        Cpp11

IndentRequiresClause: false


...

